<head>
  <title>Home</title>
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <ul>
    <li>
      <div class="nav">
        home | stuff | prison | tags
      </div>
    </li>
    <li>
      <form action="/author" method="post">
        <div class="header">
          New post
        </div>
        <div class="table">
          <div class="row">
            <div class="cell-title">
              <label for="title">Title: </label>
            </div>
            <div class="cell">
              <input type="text" name="title" id="title">
            </div>
          </div>
          <div class="row">
            <div class="cell-title">
              <label for="body">Body: </label>
            </div>
            <div class="cell">
              <textarea name="body"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="cell-title">
              <input type="submit" value="Submit">
            </div>
            <div class="cell">
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul>
</body>