ul {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

body {
    background: white;
    // background: #58641D;
    font-family: verdana;
}

div.error {
    margin-top: 40px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: left;
    background: #E70E02;
    color: white;
    padding: 15px;
    border-top: 1px solid #F42B03;
    border-left: 1px solid #F42B03; 
}

div.nav {
    text-align: center;
    padding: 10px;
    background: #DBD2E0;
    color: grey;
}

li {
    border: 1px solid #273B09;
    border-radius: 5px;
    margin: 5px;
}

div.title {
    width: 100%;
    // display: inline-block;
    border-right: 1px solid  #273B09;
}

div.right {
    width: 25%;
    padding-left: 10px;
}

div.header {
    align: center;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #273B09;
    background: #DBD2E0;
    color: gray;
//    background: #7B904B;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

/*
div.post {
    align: center;
    background: white;
    padding: 20px;
    color: white;
    border-bottom: 1px solid #273B09;
}
*/

div.table {
    display: table;
}

div.row {
    display: table-row;
    border-bottom: 1px solid #273B09;
}

div.cell {
    display: table-cell;
    padding: 10px;
    background: white;
    // border-right: 1px solid #273B09;
    border-bottom: 1px solid #273B09;
}

div.cell-title {
    display: table-cell;
    padding: 10px;
    background: #DBD2E03;
    border-bottom: 1px solid #273B09;
    color: grey;
}

div.header {
    text-align: left;
    padding: 10px;
    background: #DBD2E0;
    border-bottom: 1px solid #273B09;
    color: grey;
}

div.reward {
    text-align: left;
    padding: 10px;
    background: #DBD2E0;
    border-bottom: 1px solid #273B09;
    border-right: 1px solid #273B09;
    color: grey;
}

.item-common {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: #006daa;
    background: #b9d6f2;
    display: inline-block;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #006daa;
    border-radius: 5px;
}

.item-uncommon {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: #9eb25d;
    background: #eefcce;
    display: inline-block;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #9eb25d;
    border-radius: 5px;
}

.item-rare {
    // darker: #7161ef
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: #957fef;
    background: #dec0f1;
    display: inline-block;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #957fef;
    border-radius: 5px;
}

.item-ultra-rare {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-align: center;
    background: #ff674d;
    color: #8a1824;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #8a1824;
    border-radius: 5px;
}

.item-legendary {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-align: center;
    background: #f7ce5b;
    color: ##776a31;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #af9b46;
    border-radius: 5px;
}

.action-box {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-align: center;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid black;
    border-radius: 5px;
}

.fixed-item-thumbnail {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

a {
    text-decoration: none;
}

div.profile {
    border-right: 1px solid black;
    display: table-cell;
    text-align: center;
    min-width: 80px;
    padding: 5px;
}

div.post {
    word-wrap: wrap-word;
    display: table-cell;
    width: 100%;
    padding: 10px;
}
