ul.menu-item {
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

a {
    color: #2e2e2e;
}

li.menu-item {
    background: #ededed;
    border-radius: 5px;
    margin: 5px;
}

body {
    background: white;
    color: #2e2e23;
    font: 1.2em "Arvo", serif;
}

div.nav {
    text-align: center;
    padding: 10px;
    background: #DBD2E0;
    color: grey;
}

div.title {
    width: 100%;
}

div.right {
    width: 25%;
    padding-left: 10px;
}

div.table {
    display: table;
}

div.row {
    display: table-row;
}

div.cell {
    display: table-cell;
    padding: 10px;
}

div.heavy-cell {
    display: table-cell;
    padding: 10px;
    border-bottom: 1px solid black;
}

div.header {
    text-align: left;
    padding: 10px;
    background: #ededed;
    border-radius: 5px;
}

div.reward {
    text-align: left;
    padding: 10px;
    background: #DBD2E0;
    border-bottom: 1px solid #273B09;
    border-right: 1px solid #273B09;
    color: grey;
}

.tag {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    background: #cfcfcf;
    color: black;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}

button {
    padding: 10px;
}

.selected-tag {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    background: #ededed;
    border-radius: 5px;
    padding: 10px;
    display: inline-block;
}    

.item-common {
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: #006daa;
    background: #b9d6f2;
    display: inline-block;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #006daa;
    border-radius: 5px;
    min-width: 60px;
    min-height: 105px;
}

.rarity-common {
    display: inline-block;
    padding: 10px;
    color: #006daa;
    background: #b9d6f2;
    border: 1px solid #006daa;
    border-radius: 5px;
}

.item-uncommon {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: #5d6838;
    background: #b1c66d;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #5d6838;
    border-radius: 5px;
    min-width: 60px;
    min-height: 105px;
}

.rarity-uncommon {
    display: inline-block;
    padding: 10px;
    color: #5d6838;
    background: #b1c66d;
    border: 1px solid #5d6838;
    border-radius: 5px;
}

.item-rare {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin: 5px;
    color: #592a7a;
    background: #cb80ff;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #592a7a;
    border-radius: 5px;
    min-width: 60px;
    min-height: 105px;
}

.rarity-rare {
    display: inline-block;
    padding: 10px;
    color: #592a7a;
    background: #cb80ff;
    border: 1px solid #592a7a;
    border-radius: 5px;
}

.item-ultra-rare {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-align: center;
    background: #ff8570;
    color: #8a1824;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #8a1824;
    border-radius: 5px;
    min-width: 60px;
    min-height: 105px;
}

.rarity-ultra-rare {
    display: inline-block;
    padding: 10px;
    background: #ff8570;
    color: #8a1824;
    border: 1px solid #8a1824;
    border-radius: 5px;
}

.item-legendary {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-align: center;
    background: #f7ce5b;
    color: #776a31;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #af9b46;
    border-radius: 5px;
    min-width: 60px;
    min-height: 105px;
}

.rarity-legendary {
    display: inline-block;
    padding: 10px;
    background: #f7ce5b;
    color: #776a31;
    border: 1px solid #af9b46;
    border-radius: 5px;
}

div.item-overlay-cell {
    padding: 5px;
}

div.item-overlay-row {
    display: table-row;
}

.item-overlay {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5px;
    width: 13em;
    pointer-events: none;
}

.overlay-on-hover {
    position: absolute;
    visibility: hidden;
    opacity: 0.0;
    z-index: 10;
    transition: all 300ms ease-in-out;
    -o-transition: all 300ms ease-in-out;
    -ms-transition: all 300ms ease-in-out;
    -moz-transition: all 300ms ease-in-out;
    -webkit-transition: all 300ms ease-in-out;
}

.hover-triggers-overlay{
    position: relative;
}
 
.hover-triggers-overlay:hover .overlay-on-hover {
    opacity: 1.0;
    visibility: visible;
}

.error {
    margin: 5px;
    display: inline-block;
    text-align: left;
    background: #ff674d;
    color: #8a1824;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid #8a1824;
    border-radius: 5px;
}

.action-box {
    display: inline-block;
    vertical-align: middle;
    margin: 5px;
    text-align: center;
    padding: 10px;
    font-size: 11pt;
    border: 1px solid black;
    border-radius: 5px;
}

.fixed-item-thumbnail {
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}

a {
    text-decoration: none;
}

div.profile {
    display: table-cell;
    text-align: center;
    text-shadow:
        1px 0 black,
        0 1px black,
        -1px 0 black,
        0 -1px black;
    min-width: 200px;
    padding: 5px;
    vertical-align: top;
    border-radius: 5px;
}

div.post {
    word-break: break-word;
    overflow-wrap: anywhere;
    display: table-cell;
    width: 100%;
    padding: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.badge-grid {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes spin {
    from {
      transform: rotateZ(0deg);
    }
    to {
      transform: rotateZ(359deg);
    }
}

@keyframes shiny {
    from {
      filter: hue-rotate(0deg)
    }
    to {
      filter: hue-rotate(359deg)
    }
}

@keyframes roll {
    from {
      transform: rotateY(0deg);
      moz-transform: rotateY(0deg);
      ms-transform: rotateY(0deg);
    }
    to {
      transform: rotateY(359deg);
      moz-transform: rotateY(359deg);
      ms-transform: rotateY(359deg);
    }
}

