{{> header title="Author Post" }}
    <li class="menu-item">
      <form action="/author" method="post" id="thread-form">
        <div class="header">
          New Post:
        </div>
        <div class="table">
          {{#if error}}
            <div class="row">
              <div class="cell" style="border-top: 1px solid black">
              </div>
              <div class="cell" style="border-top: 1px solid black">
                <div class="error"> 
                  {{error}}
                </div>
              </div>
            </div>
          {{/if}}
          <div class="row">
            <div class="heavy-cell" style="border-top: 1px solid black">
              <label for="title">Title: </label>
            </div>
            <div class="heavy-cell" style="width: 100%; border-top: 1px solid black">
              <input type="text" name="title" id="title" style="width: 98.25%; padding: 5px;">
            </div>
          </div>
          <div class="row">
            <div class="heavy-cell" style="vertical-align: top">
              <label for="body">Body: </label>
            </div>
            <div class="heavy-cell">
              <div style="width: 100%">
                <input type="hidden" name="body">
                <div id="editor" style="background: white"></div>
                <script>
                  const editor = new toastui.Editor({
                      el: document.querySelector('#editor'),
                  });
                  $( "#thread-form" ).submit(function(event) {
                      $('input[name=body]:hidden').val(editor.getMarkdown());
                  });
                </script>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="heavy-cell">
              <label for="title">Tags: </label>
            </div>
            <div class="heavy-cell" style="width: 100%">
              <input type="text" name="tags" id="title" value="en, " style="width: 98.25%; padding: 5px">
            </div>
          </div>
          <div class="row">
            <div class="cell">
              <input type="submit" value="Submit">
            </div>
            <div class="cell">
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul>
</body>
