{% extends "base.html" %}

{% block title %}Author Post{% endblock %}

{% block content %}
<li class="menu-item">
  <form action="/thread" method="post" enctype="multipart/form-data">
    <h3 style="padding-top: 15px; text-align: center; margin-top: 0px">
      New Post
    </h3>
    <div class="table" style="width: 100%">
      <div class="row">
        <div class="heavy-cell" style="text-align: right">
          <b><label for="title">Title:</label></b>
        </div>
        <div class="heavy-cell">
          <input type="text" name="title" id="title" style="width: 100%; box-sizing: border-box; padding: 5px">
        </div>
      </div>
      <div class="row">
        <div class="heavy-cell" style="text-align: right; vertical-align: top">
          <b><label for="body">Body:</label></b>
        </div>
        <div class="heavy-cell">
          <textarea name="body" id="body" rows="18" cols="100" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="heavy-cell" style="text-align: right">
          <b><label for="file">Image:</label></b>
        </div>
        <div class="heavy-cell">
          <input type="file" name="file" id="file" style="width: 100%; box-sizing: border-box; padding: 5px" multipart>
        </div>
      </div>
      <div class="row">
        <div class="heavy-cell" style="text-align: right">
          <b><label for="tags">Tags:</label></b>
        </div>
        <div class="heavy-cell">
          <input type="text" name="tags" id="tags" value="en, " style="width: 100%; box-sizing: border-box; padding: 5px">
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
          <div style="padding-top: 15px; padding-bottom: 15px; display: flow-root">
            <button type="submit" class="action-box action-box-standard-size" style="float: right">Post</button>
            <div id="error" class="error" style="display: none"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
          $("form").ajaxForm({
              url: '/thread',
              type: 'post',
              success: function(response, _, _, _) {
                  if (response.error !== undefined) {
                      $('#error').show();
                      $('#error').html(`${response.error}`);
                  } else {
                      location.href = `/thread/${response.ok.id}`;
                  }
              },
              error: function(_, status, error) {
                  $('#error').show();
                  $('#error').html('An unknown error occurred');
              }
          });
      });
    </script>
  </form>
</li>
{% endblock %} 
