{{> header title="Author Post" }}
    <li class="menu-item">
      <form action="/author" method="post">
        <div class="header">
          New post
        </div>
        <div class="table">
          {{#if error}}
            <div class="row">
              <div class="cell-title">
              </div>
              <div class="cell">
                <div class="error"> 
                  {{error}}
                </div>
              </div>
            </div>
          {{/if}}
          <div class="row">
            <div class="cell-title">
              <label for="title">Title: </label>
            </div>
            <div class="cell" style="width: 100%">
              <input type="text" name="title" id="title">
            </div>
          </div>
          <div class="row">
            <div class="cell-title" style="vertical-align: top">
              <label for="body">Body: </label>
            </div>
            <div class="cell">
              <textarea name="body" rows="8" cols="100"></textarea>
            </div>
          </div>
          <div class="row">
            <div class="cell-title">
              <input type="submit" value="Submit">
            </div>
            <div class="cell">
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul>
</body>
