{% extends "base.html" %}

{% block title %}Author Post{% endblock %}

{% block content %}
<li class="menu-item" style="padding-left: 25px; padding-right: 25px">
  <form action="/author" method="post" enctype="multipart/form-data">
    <h3 style="padding-top: 15px">
      New Post
    </h3>
    <div style="padding-bottom: 15px">
      <b><label for="title">Title</label></b>
    </div>
    <div>
      <input type="text" name="title" id="title" style="width: 100%; box-sizing: border-box; padding: 5px">
    </div>
    <div style="padding-top: 15px; padding-bottom: 15px">
      <b><label for="body">Body</label></b>
    </div>
    <div>
      <textarea name="body" id="body" rows="18" cols="100" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px"></textarea>
    </div>
    <div style="padding-top: 15px; padding-bottom: 15px">
      <b><label for="title">Image</label></b>
    </div>
    <div>
      <input type="file" name="file" id="file" style="width: 100%; box-sizing: border-box; padding: 5px" multipart>
    </div>
    <div style="padding-top: 15px; padding-bottom: 15px">
      <b><label for="title">Tags</label></b>
    </div>
    <div>
      <input type="text" name="tags" id="tags" value="en, " style="width: 100%; box-sizing: border-box; padding: 5px">
    </div>
    <div style="padding-top: 15px; padding-bottom: 15px; display: flow-root">
      <button type="submit" style="float: right">Post</button>
      <div id="error" style="display: inline"></div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
          const error_messages = {
              TitleOrBodyIsEmpty: "Title or body cannot be empty",
              UploadImageError: "There was an error uploading the image",
              InternalDbError: "There was an internal error, please try again later",
              MultipartFormError: "File is too large",
          };
          $("form").ajaxForm({
              url: '/author',
              type: 'post',
              success: function(response, _, _, _) {
                  if (response.Err !== undefined) {
                      var error_message = error_messages[response.Err];
                      var error_message = error_message == undefined ? "An unknown error occurred" : error_message;
                      $("#error").html(`<div class="error" id="error">${error_message}</div>`)
                  } else {
                      location.href = `/thread/${response.Ok.id}`;
                  }
              },
              error: function(_, status, error) {
                  $("#error").html(`<div class="error" id="error">Unable to upload image</div>`)
              }
          });
      });
    </script>
  </form>
</li>
{% endblock %} 
