{{> header title="Author Post" }}
    <li class="menu-item">
      <form action="/author" method="post">
        <div class="header">
          New Post:
        </div>
        <div class="table">
          {{#if error}}
            <div class="row">
              <div class="cell" style="border-top: 1px solid black">
              </div>
              <div class="cell" style="border-top: 1px solid black">
                <div class="error"> 
                  {{error}}
                </div>
              </div>
            </div>
          {{/if}}
          <div class="row">
            <div class="heavy-cell" style="border-top: 1px solid black">
              <label for="title">Title: </label>
            </div>
            <div class="heavy-cell" style="width: 100%; border-top: 1px solid black">
              <input type="text" name="title" id="title" style="width: 75%; padding: 5px;">
            </div>
          </div>
          <div class="row">
            <div class="heavy-cell" style="vertical-align: top">
              <label for="body">Body: </label>
            </div>
            <div class="heavy-cell">
              <div style="width: 77%">
                <textarea name="body" id="body" style="display: none;"></textarea>
                <script>
                  var simplemde = new EasyMDE({ status: false });
                </script>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="heavy-cell">
              <label for="title">Tags: </label>
            </div>
            <div class="heavy-cell" style="width: 100%">
              <input type="text" name="tags" id="title" value="en, " style="width: 75%; padding: 5px">
            </div>
          </div>
          <div class="row">
            <div class="cell">
              <input type="submit" value="Submit">
            </div>
            <div class="cell">
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul>
</body>
