<head>
  <title>Error</title>
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body style="background: white">
  <div class="error">
    <p><b>Server encountered an error:</b> {{message}}</p>
    <p><a href="/">Click here to go back</a></p>
  </div>
</body>
