<!DOCTYPE html>
<head>
  <title>{{title}}</title>
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <ul class="menu-item">
    <li class="menu-item" style="text-align: center; padding: 10px; background: #DBD2E0; color: grey;">
      <h3>Le Grande Marché</h3>
      <a href="/">Home</a> | <a href="/profile">Profile</a> | <a href="/author">New Post</a> | <a href="/offers">Trade Offers</a> | <a href="/leaderboard">Leaderboard</a>
    </li>
