<!DOCTYPE html>

<head>
  <title>{{title}}</title>
  <link href="/static/styles.css" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet"> 
</head>

<body>
  <ul class="menu-item">
    <li class="menu-item" style="text-align: center; padding: 10px;">
      <h3>C'est le Marché</h3>
      <a href="/">Home</a> | <a href="/profile">Profile</a> | <a href="/author">New Post</a> | <a href="/offers">Trade
        Offers{{#if offer_count}} (<b>{{offer_count}}</b>){{/if}}</a> | <a href="/leaderboard">Leaderboard</a>
    </li>