<!DOCTYPE html>
<head>
  <title>{{title}}</title>
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <ul>
    <li>
      <div class="nav">
        <h3>Le Grande Marché</h3>
        <a href="/">Home</a> | <a href="/profile">Profile</a> | <a href="/author">New Post</a> | <a href="/offers">Trade Offers</a>
      </div>
    </li>
