{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<script src="/static/index.js" async></script>
<li style="display: inline; vertical-align: middle">
  <label class="selected-tag">
    <input type="text" name="add-tag" placeholder="add a tag" id="add-tag" style="width: 125px; padding: 5px;">
    <button type="submit" onclick="add_tag()" style="padding: 5px">➕</button>
  </label>
  {% for tag in  tags %}
  <label class="selected-tag">
    {{tag.name|e}}
    <button type="submit" style="color: red; padding: 5px" onclick="remove_tag('{{tag.name|e}}')">✖</button>
  </label>
  {% endfor %}
</li>
{% for post in posts %}
<li class="menu-item thread-menu-item" style="display: grid">
  <div class="table">
    <div class="thread-row row" onclick="window.location='/thread/{{post.id}}?jump_to={{post.jump_to}}'">
      <div class="cell" style="width: 60%; padding-left: 25px; vertical-align: middle">
        {{post.title}}
        <div style="margin-left: 0px; font-size: 80%; color: #4d4d4d">
          └{{post.replies}}
          | last activity {% if post.emphasize_date %}<b>{{post.date}}</b>{% else %}{{post.date}}{% endif %}
          {% if post.pinned %} 📌{% endif %}
          {% if post.locked %} 🔒{% endif %}
          {% if !post.read %} 📨{% endif %}
        </div>
      </div>
      <div class="cell" style="width: 40%; text-align: right">
        {% for tag in post.tags %}
        <div class="tag" name="{{tag}}">{{tag}}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</li>
{% endfor %}
{% endblock %}
