{{> header title="Home" }}
    <li>
    <div class="table">
      <div class="row">
        <div class="cell-title"><b>#</b></div>
        <div class="cell-title" style="width: 80%;">title</div>
        <div class="cell-title" style="width: 20%;">last post</div>
      </div>
    {{#each posts}}
      <div class="row">
        <div class="cell-title">
          {{num}}
        </div>
        <div class="cell">
          <a href="/thread/{{id}}">{{title}}</a>          
        </div>
        <div class="cell">
          {{date}}
        </div>
      </div>
    {{/each}}
    </div>
    </li>
  </ul>
</body>
