<head>
  <title>Home</title>
  <link href="/static/styles.css" rel="stylesheet">
</head>
<body>
  <ul>
    <li>
      <div class="nav">
        home | stuff | prison | tags
      </div>
    </li>
    <li>
    <div class="table">
      <div class="row">
        <div class="cell-title"><b>#</b></div>
        <div class="cell-title" style="width: 70%;">title</div>
        <div class="cell-title" style="width: 10%;">last post</div>
      </div>
    {{#each posts}}
      <div class="row">
        <div class="cell-title">
          {{num}}
        </div>
        <div class="cell">
          <a href="/thread/{{id}}">{{title}}</a>          
        </div>
        <div class="cell">
          {{date}}
        </div>
      </div>
    {{/each}}
    </div>
    </li>
  </ul>
</body>
