{%- import "macros.html" as macros -%}
{% extends "base.html" %}

{% block title %}Global Leaderboards{% endblock %}

{% block content %}
{% for user in users %}
<li class="menu-item">
  <div style="display: table" id={{user.stub.id}}>
    <div style="display: table-row">
      {% call macros::profile_stub(user.stub) %}
      <div class="post">
        <h3><u>Rank {{user.rank}}</u></h3>
        {{user.bio|escape|linebreaks|e("none")}}
      </div>
    </div>
  </div>
</li>
{% endfor %}
{% endblock %}

