{{> header title="Log In"}}
    <li class="menu-item">
      <form action="/login/" method="post">
        <div class="header">
          Login
        </div>
        <div class="table">
          <div class="row">
            <div class="cell-title">
              <label for="title">Username: </label>
            </div>
            <div class="cell" style="width: 100%">
              <input type="text" name="username" id="username">
            </div>
          </div>
          <div class="row">
            <div class="cell-title">
              <label for="content">Password: </label>
            </div>
            <div class="cell">
              <input type="password" name="password" id="password">
            </div>
          </div>
          <div class="row">
            <div class="cell-title">
              <input type="submit" value="Log In">
            </div>
            <div class="cell">
            </div>
          </div>
        </div>
      </form>
    </li>
  </ul>
</body>
      
