{% extends "base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
<li class="menu-item">
  <form action="/login/" method="post">
    <div class="header">
      Login
    </div>
    <div class="table">
      <div class="row">
        <div class="heavy-cell" style="border-top: 1px solid black">
          <label for="title">Username: </label>
        </div>
        <div class="heavy-cell" style="width: 100%; border-top: 1px solid black">
          <input type="text" name="username" id="username">
        </div>
      </div>
      <div class="row">
        <div class="heavy-cell">
          <label for="content">Password: </label>
        </div>
        <div class="heavy-cell">
          <input type="password" name="password" id="password">
        </div>
      </div>
      <div class="row">
        <div class="cell">
          <button type="submit">Log In</button>
        </div>
        <div id="error" class="error" style="display: none">
        </div>
        <p>Don't have an account? <u><a href="/register">Register a new one!</a></u></p>
      </div>
    </div>
    <script type="text/javascript">
      const error_messages = {
          UserOrPasswordIncorrect: "Invalid username or password",
          InternalDbError: "Internal server error, please try again later"
      };
      $(document).ready(function () {
          $("form").ajaxForm({
              url: '/login',
              type: 'post',
              success: function(response, _, _, _) {
                  if (response.Err !== undefined) {
                      var error_message = error_messages[response.Err];
                      var error_message = error_message == undefined ? "An unknown error occurred" : error_message;
                      $('#error').show();
                      $('#error').html(`${error_message}`);
                  } else {
                      location.href = '/';
                  }
              },
              error: function(_, _, _) {
                  $('#error').show();
                  $('#error').html('An unknown error occurred');
              }
          });
      });
    </script>
  </form>
</li>
{% endblock %}
