{% extends "base.html" %}

{% block title %}Trade Offers{% endblock %}

{% block content %}
{% match error %}
{% when Some(error) %}
<li>
  <div class="error">
    {{error}}
  </div>
</li>
{% when None %}
{% endmatch %}
{% if incoming_offers.is_empty() %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>No incoming trade offers</h3>
  </div>
</li>
{% else %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>Incoming trade offers:</h3>
  </div>
</li>
{% for offer in incoming_offers %}
<li class="menu-item">
  <div class="table" style="width: 100%">
    <div class="row">
      <div class="cell"></div>
      <div class="cell" style="width: 50%">Sender offers:</div>
      <div class="cell"></div>
      <div class="cell" style="width: 50%">For:</div>
    </div>
    <div class="row">
      <div class="profile" style="{{offer.sender.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{offer.sender.id}}" style="color: white">{{offer.sender.name}}</a></p>
        {% let picture = offer.sender.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell">
        {% for item in offer.sender_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
      <div class="profile" style="{{user.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{user.id}}" style="color: white">{{user.name}}</a></p>
        {% let picture = user.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell" >
        {% for item in offer.receiver_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="heavy-cell">
      </div>
      <div class="heavy-cell">
        <div style="display: table-row">
          <div style="display: table-cell; padding: 10px">
            <form action="/accept/{{offer.id}}">
              <button type="submit">Accept</button>
            </form>
          </div>
          <div style="display: table-cell; padding: 10px">
            <form action="/decline/{{offer.id}}">
              <button type="submit">Decline</button>
            </form>
          </div>
        </div>
      </div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
  </div>
</li>
{% endfor %}
{% endif %}

{% if outgoing_offers.is_empty() %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>No outgoing trade offers</h3>
    <p>You can make trade offers by pressing the "draft trade offer" button on a user's profile.</p>
  </div>
</li>
{% else %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>Outgoing trade offers:</h3>
  </div>
</li>
{% for offer in outgoing_offers %}
<li class="menu-item">
  <div class="table" style="width: 100%">
    <div class="row">
      <div class="cell"></div>
      <div class="cell" style="width: 50%">You offer:</div>
      <div class="cell" ></div>
      <div class="cell" style="width: 50%">For:</div>
    </div>
    <div class="row">
      <div class="profile" style="{{user.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{user.id}}" style="color: white">{{user.name}}</a></p>
        {% let picture = user.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell">
        {% for item in offer.sender_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
      <div class="profile" style="{{offer.receiver.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{offer.receiver.id}}" style="color: white">{{offer.receiver.name}}</a></p>
        {% let picture = offer.receiver.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell">
        {% for item in offer.receiver_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="cell">
      </div>
      <div class="cell">
        <div style="display: table-cell; padding: 10px">
          <form action="/decline/{{offer.id}}">
            <button type="submit">Rescind</button>
          </form>
        </div>
      </div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
</li>
{% endfor %}
{% endif %}
{% endblock %}
