{% extends "base.html" %}

{% block title %}Draft Trade Offer{% endblock %}

{% block content %}
<li class="menu-item">
  <form action="/offer/" method="post">
    <input type="hidden" name="receiver_id" value="{{receiver.id}}">
    <div class="table">
      <div class="row">
        <div class="cell"></div>
        <div class="cell" style="width: 100%;"><b>{{sender.name}} offers:</b></div>
      </div>
      <div class="row">
        <div class="profile" style="{{sender.background}}">
          <p><a href="/profile/{{sender.id}}" style="color: white; text-decoration: none">{{sender.name}}</a></p>
          {% let picture = sender.picture.as_ref() %}
          {% include "profile-pic.html" %}
          <div class="badge-grid">
            {% for badge in sender.badges %}
              {{badge|e("none")}}
            {% endfor %}
          </div>
        </div>
        <div class="cell">
          {% for item in sender_inventory %}
          <label class="item-{{item.rarity}}" for="{{item.id}}" style="user-select: none">
            <div class="hover-triggers-overlay">
              <p>{{item.thumbnail|e("none")}}</p>
              <div class="overlay-on-hover item-overlay">
                {% include "item-overlay.html" %}
              </div>
            </div>
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}" value="{{sender.id}}" />
            {{item.name}}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <b>
            in exchange for {{receiver.name}}'s:
          </b>
        </div>
      </div>
      <div class="row">
        <div class="profile" style="{{receiver.background}}">
          <p><a href="/profile/{{receiver.id}}" style="color: white; text-decoration: none">{{receiver.name}}</a></p>
          {% let picture = receiver.picture.as_ref() %}
          {% include "profile-pic.html" %}
          <div class="badge-grid">
            {% for badge in receiver.badges %}
              {{badge|e("none")}}
            {% endfor %}
          </div>
        </div>
        <div class="cell">
          {% for item in receiver_inventory %}
          <label class="item-{{item.rarity}}" for="{{item.id}}" style="user-select: none">
            <div class="hover-triggers-overlay">
              <p>{{item.thumbnail|e("none")}}</p>
              <div class="overlay-on-hover item-overlay">
                {% include "item-overlay.html" %}
              </div>
            </div>
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}" value="{{receiver.id}}" />
            {{item.name}}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <b>
            Note (optional):
          </b>
        </div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <textarea name="note" id="note" rows="10" cols="100" style="width: 99%; resize: none; box-sizing: border-box; padding: 5px" placeholder="Add a note to your trade request (maximum 150 characters)"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
          <div style="display: flex">
            <button type="submit">Submit trade offer</button>
            <div id="error" style="margin-left: 10px"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
          const error_messages = {
              CannotTradeWithSelf: "You cannot submit a trade offer with yourself",
              ItemNoLongerOwned: "One or more items selected are no longer owned by their original owner; try refreshing",
              InvalidTrade: "A trade of this type is not valid",
              NoteTooLong: "Note cannot exceed 150 characters",
              TradeIsEmpty: "Trade cannot be empty",
              InternalDbError: "There was an internal error, please try again later",
          };
          $("form").ajaxForm({
              url: '/offer',
              type: 'post',
              success: function(response, _, _, _) {
                  if (response.Err !== undefined) {
                      var error_message = error_messages[response.Err];
                      var error_message = error_message == undefined ? "An unknown error occurred" : error_message;
                      $("#error").html(`<div class="error">${error_message}</div>`)
                  } else {
                      location.href = `/offers?jump_to=${response.Ok.id}`
                  }
              },
              error: function(_, status, error) {
                  $("#error").html(`<div class="error">An unknown error occurred</div>`);
              }
          });
      });
    </script>
  </form>
</li>
{% endblock %}
