{% extends "base.html" %}

{% block title %}Draft Trade Offer{% endblock %}

{% block content %}
<li class="menu-item">
  <form action="/offer/{{receiver.id}}" method="post">
    <div class="table">
      <div class="row">
        <div class="cell"></div>
        <div class="cell" style="width: 100%;"><b>{{sender.name}} offers:</b></div>
      </div>
      <div class="row">
        <div class="profile" style="{{sender.background}}">
          <p><a href="/profile/{{sender.id}}" style="color: white">{{sender.name}}</a></p>
          {% let picture = sender.picture.as_ref() %}
          {% include "profile-pic.html" %}
          <div class="badge-grid">
            {% for badge in sender.badges %}
              {{badge|e("none")}}
            {% endfor %}
          </div>
        </div>
        <div class="cell">
          {% for item in sender_inventory %}
          <label class="item-{{item.rarity}}" for="{{item.id}}">
            <div class="hover-triggers-overlay">
              <p>{{item.thumbnail|e("none")}}</p>
              <div class="overlay-on-hover item-overlay">
                {% include "item-overlay.html" %}
              </div>
            </div>
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}" value="{{sender.id}}" />
            {{item.name}}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <b>
            in exchange for {{receiver.name}}'s:
          </b>
        </div>
      </div>
      <div class="row">
        <div class="profile" style="{{receiver.background}}">
          <p><a href="/profile/{{receiver.id}}" style="color: white">{{receiver.name}}</a></p>
          {% let picture = receiver.picture.as_ref() %}
          {% include "profile-pic.html" %}
          <div class="badge-grid">
            {% for badge in receiver.badges %}
              {{badge|e("none")}}
            {% endfor %}
          </div>
        </div>
        <div class="cell">
          {% for item in receiver_inventory %}
          <label class="item-{{item.rarity}}" for="{{item.id}}">
            <div class="hover-triggers-overlay">
              <p>{{item.thumbnail|e("none")}}</p>
              <div class="overlay-on-hover item-overlay">
                {% include "item-overlay.html" %}
              </div>
            </div>
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}" value="{{receiver.id}}" />
            {{item.name}}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
          <button type="submit">Submit trade offer</button>
        </div>
      </div>
    </div>
  </form>
</li>
{% endblock %}
