{%- import "macros.html" as macros -%}
{% extends "base.html" %}

{% block title %}Draft Trade Offer{% endblock %}

{% block content %}
<li class="menu-item">
  <form action="/offer/" method="post">
    <input type="hidden" name="receiver_id" value="{{receiver.id}}">
    <div class="table">
      <div class="row">
        <div class="cell"></div>
        <div class="cell" style="width: 100%;"><b>{{sender.name}} offers:</b></div>
      </div>
      <div class="row">
        {% call macros::profile_stub(sender) %}
        <div class="cell">
          {% for item in sender_inventory %}
          <label class="item-{{item.rarity}} hover-triggers-overlay" for="{{item.id}}" style="user-select: none">
            <p>{{item.html|e("none")}}</p>
            <div class="overlay-on-hover item-overlay">
              {% call macros::item_overlay(item) %}
            </div>
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}" value="{{sender.id}}" />
            {{item.name}}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <b>
            in exchange for {{receiver.name}}'s:
          </b>
        </div>
      </div>
      <div class="row">
        {% call macros::profile_stub(receiver) %}
        <div class="cell">
          {% for item in receiver_inventory %}
          <label class="item-{{item.rarity}} hover-triggers-overlay" for="{{item.id}}" style="user-select: none">
            <p>{{item.html|e("none")}}</p>
            <div class="overlay-on-hover item-overlay">
              {% call macros::item_overlay(item) %}
            </div>
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}" value="{{receiver.id}}" />
            {{item.name}}
          </label>
          {% endfor %}
        </div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <b>
            Note (optional):
          </b>
        </div>
      </div>
      <div class="row">
        <div class="cell"></div>
        <div class="cell">
          <textarea name="note" id="note" rows="10" cols="100" style="width: 99%; resize: none; box-sizing: border-box; padding: 5px" placeholder="Add a note to your trade request (maximum 150 characters)"></textarea>
        </div>
      </div>
      <div class="row">
        <div class="cell">
        </div>
        <div class="cell">
          <div style="display: flex">
            <button type="submit">Submit trade offer</button>
            <div id="error" class="error" style="margin-left: 10px; display: none"></div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function () {
          $("form").ajaxForm({
              url: '/offer',
              type: 'post',
              success: function(response) {
                  location.href = `/offers?jump_to=${response.ok.id}`;
              },
              error: function(xhr) {
                  $("#error").html(`${xhr.responseJSON.error}`);
                  $("#error").show();
              }
          });
      });
    </script>
  </form>
</li>
{% endblock %}
