{% extends "base.html" %}

{% block title %}Trade Offers{% endblock %}

{% block content %}
{% if incoming_offers.is_empty() %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>No incoming trade offers</h3>
  </div>
</li>
{% else %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>Incoming trade offers:</h3>
  </div>
</li>
{% for offer in incoming_offers %}
<li class="menu-item" id="offer-{{offer.id}}">
  <div class="table" style="width: 100%">
    <div class="row">
      <div class="cell"></div>
      <div class="cell" style="width: 50%">Sender offers:</div>
      <div class="cell"></div>
      <div class="cell" style="width: 50%">For:</div>
    </div>
    <div class="row">
      <div class="profile" style="{{offer.sender.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{offer.sender.id}}" style="color: white; text-decoration: none">{{offer.sender.name}}</a></p>
        {% let picture = offer.sender.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell">
        {% for item in offer.sender_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
        {% match offer.note %}
        {% when Some with (note) %}
        <p>
          <div>
            <p style="text-align: center">“ {{note}} ”</p>
            <p style="text-align: right">— {{offer.sender.name}}</p>
          </div>
        </p>
        {% when None %}
        {% endmatch %}
      </div>
      <div class="profile" style="{{user.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{user.id}}" style="color: white; text-decoration: none">{{user.name}}</a></p>
        {% let picture = user.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell" >
        {% for item in offer.receiver_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="cell">
      </div>
      <div class="cell">
        <div>
          <button id="accept-{{offer.id}}" type="submit" onclick="accept({{offer.id}})">Accept</button>
          <button id="decline-{{offer.id}}" type="submit" onclick="decline({{offer.id}})">Decline</button>
          <div id="error-{{offer.id}}" style="position: absolute; z-index: 10; transform: translatey(-100%) translatex(140px);"></div>
        </div>
      </div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
  </div>
</li>
{% endfor %}
{% endif %}

{% if outgoing_offers.is_empty() %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>No outgoing trade offers</h3>
    <p>You can make trade offers by pressing the "draft trade offer" button on a user's profile.</p>
  </div>
</li>
{% else %}
<li class="menu-item">
  <div class="post" style="padding-left: 150px">
    <h3>Outgoing trade offers:</h3>
  </div>
</li>
{% for offer in outgoing_offers %}
<li class="menu-item" id="offer-{{offer.id}}">
  <div class="table" style="width: 100%">
    <div class="row">
      <div class="cell"></div>
      <div class="cell" style="width: 50%">You offer:</div>
      <div class="cell" ></div>
      <div class="cell" style="width: 50%">For:</div>
    </div>
    <div class="row">
      <div class="profile" style="{{user.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{user.id}}" style="color: white; text-decoration: none">{{user.name}}</a></p>
        {% let picture = user.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell">
        {% for item in offer.sender_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
        {% match offer.note %}
        {% when Some with (note) %}
        <p>
          <div class="trade-note">
            <p style="text-align: center">“ {{note}} ”</p>
            <p style="text-align: right">— {{user.name}}</p>
          </div>
        </p>
        {% when None %}
        {% endmatch %}
      </div>
      <div class="profile" style="{{offer.receiver.background}} text-align: center; vertical-align: top; min-width: 180px">
        <p><a href="/profile/{{offer.receiver.id}}" style="color: white; text-decoration: none">{{offer.receiver.name}}</a></p>
        {% let picture = offer.receiver.picture.as_ref() %}
        {% include "profile-pic.html" %}
      </div>
      <div class="cell">
        {% for item in offer.receiver_items %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="cell">
      </div>
      <div class="cell">
        <div style="display: table-cell; padding: 10px">
          <button id="rescind-{{offer.id}}" type="submit" onclick="rescind({{offer.id}})">Rescind</button>
          <div id="error-{{offer.id}}" style="position: absolute; z-index: 10; transform: translatey(-100%) translatex(140px);"></div>
        </div>
      </div>
      <div class="cell"></div>
      <div class="cell"></div>
    </div>
</li>
{% endfor %}
{% endif %}
<script type="text/javascript">
  function accept(offer_id) {
      $(`#accept-${offer_id}`).prop("disabled", true);
      $(`#decline-${offer_id}`).prop("disabled", true);
      $(`#error-${offer_id}`).html("");
      $.ajax({
          url: `accept/${offer_id}`,
          type: 'post',
          success: function(response, _, _, _) {
              console.log(response);
              if (response.Err !== undefined) {
                  $(`#error-${offer_id}`).html(`<div class="error">${response.Err}</div>`);
                  $(`#accept-${offer_id}`).prop("disabled", false);
                  $(`#decline-${offer_id}`).prop("disabled", false);
              } else {
                  $(`#accept-${offer_id}`).html("✔️ Accepted!");
                  $(`#offer-${offer_id}`).slideToggle();
              }
          },
          error: function(_, _, _) {
              $(`#error-${offer_id}`).html(`<div class="error">Unable to decline offer</div>`);
              $(`#accept-${offer_id}`).prop("disabled", false);
              $(`#decline-${offer_id}`).prop("disabled", false);
          }
      });
  }
  function decline(offer_id) {
      $(`#accept-${offer_id}`).prop("disabled", true);
      $(`#decline-${offer_id}`).prop("disabled", true);
      $(`#error-${offer_id}`).html("");
      $.ajax({
          url: `decline/${offer_id}`,
          type: 'post',
          success: function(response, _, _, _) {
              if (response.Err !== undefined) {
                  $(`#error-${offer_id}`).html(`<div class="error">${response.Err}</div>`);
                  $(`#accept-${offer_id}`).prop("disabled", false);
                  $(`#decline-${offer_id}`).prop("disabled", false);
              } else {
                  $(`#decline-${offer_id}`).html("❌ Declined");
                  $(`#offer-${offer_id}`).slideToggle();
              }
          },
          error: function(_, status, error) {
              $(`#error-${offer_id}`).html(`<div class="error">Unable to decline offer, status: ${status}, error: ${error}</div>`);
              $(`#accept-${offer_id}`).prop("disabled", false);
              $(`#decline-${offer_id}`).prop("disabled", false);
          }
      });
  }
  function rescind(offer_id) {
      $(`#rescind-${offer_id}`).prop("disabled", true);
      $(`#error-${offer_id}`).html("");
      $.ajax({
          url: `decline/${offer_id}`,
          type: 'post',
          success: function(response, _, _, _) {
              if (response.Err !== undefined) {
                  $(`#error-${offer_id}`).html(`<div class="error">${response.Err}</div>`);
                  $(`#rescind-${offer_id}`).prop("disabled", false);
              } else {
                  $(`#rescind-${offer_id}`).html("❌ Rescinded");
                  $(`#offer-${offer_id}`).slideToggle();
              }
          },
          error: function(_, status, error) {
              $(`#error-${offer_id}`).html(`<div class="error">Unable to decline offer, status: ${status}, error: ${error}</div>`);
              $(`#rescind-${offer_id}`).prop("disabled", false);
          }
      });
  }
  const urlParams = new URLSearchParams(window.location.search);
  if (urlParams.has('jump_to')) {
      const jump_to = urlParams.get('jump_to');
      $(`#offer-${jump_to}`)[0].scrollIntoView({ block: "center" });
  }
</script>
{% endblock %}
