{% extends "base.html" %}

{% block title %}{{name}}'s Profile{% endblock %}

{% block content %}
<li class="menu-item">
  <div class="table">
    <div class="row">
      <div class="heavy-cell"></div>
      <div class="heavy-cell" style="width: 100%;"><b>{{name}}</b></div>
    </div>
    <div class="row">
      <div class="heavy-cell" style="{{background}} text-align: center; min-width: 180px; min-height: 180px; text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black">
        {% include "profile-pic.html" %}
        <div class="badge-grid">
          {% for badge in badges %}
          {{badge|e("none")}}
          {% endfor %}
        </div>
      </div>
      <div class="heavy-cell" style="vertical-align: top; padding: 15px">
        <p>{{bio}}</p>
        {% if is_curr_user %}
        <form action="/update_bio/">
          <button type="submit">Edit Bio</button>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="heavy-cell" style="vertical-align: top; text-align: right;">
        Level:
      </div>
      <div class="heavy-cell">
        <div>{{level.level}}</div>
        <div><progress max="{{level.next_level_xp}}" value="{{level.curr_xp}}"></progress></div>
      </div>
    </div>
    <div class="row">
      <div class="heavy-cell" style="vertical-align: top; text-align: right;">
        Equipped:
      </div>
      <div class="heavy-cell">
        {% for item in equipped %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="cell" style="vertical-align: top; text-align: right;">
        Inventory:
      </div>
      <div class="cell">
        {% for item in inventory %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    {% if !is_curr_user %}
    <div class="row">
      <div class="cell"></div>
      <div class="cell">
        <form action="/offer/{{id}}">
          <button type="submit">Draft trade offer</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</li>
{% endblock %}
