{% extends "base.html" %}

{% block title %}{{name}}'s Profile{% endblock %}

{% block content %}
<li class="menu-item">
  <div class="table">
    <div class="row">
      <div class="heavy-cell"></div>
      <div class="heavy-cell" style="width: 100%;">
        <b {% if is_banned %}style="color: red"{% endif %}>
          {% if role == Role::Moderator %}👑 {% endif %}
          {% if is_banned %}✖ {{name}} ✖{% else %}{{name}}{% endif %}
        </b>
      </div>
    </div>
    <div class="row">
      <div class="heavy-cell" style="{{background}} text-align: center; min-width: 180px; min-height: 180px; text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black">
        {% include "profile-pic.html" %}
        <div class="badge-grid">
          {% for badge in badges %}
          {{badge|e("none")}}
          {% endfor %}
        </div>
      </div>
      <div class="heavy-cell" style="vertical-align: top; padding: 15px">
        <p>{{bio}}</p>
        {% if is_banned %}
        <p style="color: red">This user has been banned!</p>
        {% endif %}
        {% if is_curr_user %}
        <form action="/update_bio/">
          <button type="submit">Edit Bio</button>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="heavy-cell" style="vertical-align: top; text-align: right;">
        Level:
      </div>
      <div class="heavy-cell">
        <div>{{level.level}}</div>
        <div><progress max="{{level.next_level_xp}}" value="{{level.curr_xp}}"></progress></div>
      </div>
    </div>
    {% if !is_curr_user && viewer_role >= Role::Moderator && role < viewer_role %}
    <div class="row">
      <div class="heavy-cell" style="text-align: right;">
        Moderator tools:
      </div>
      <div class="heavy-cell">
        <div class="table" style="border-radius: 5px; border: 1px solid black; margin: 5px; padding: 10px; width: 90%">
          <div class="row">
            <div class="heavy-cell" style="text-align: right;">
              Ban:
            </div>
            <div class="heavy-cell">
              <div {% if is_banned %}style="display: none"{% endif %} id="ban-form">
                Ban for <input type="number" style="width: 4em" name="ban_len" id="ban-len" style="padding: 5px" min="1" max="1000" value="1"> days?
                <button style="padding: 5px" onclick="setBan(parseInt($('#ban-len').val()))">Go!</button>
              </div>
              <div {% if !is_banned %}style="display: none"{% endif %} id="unban">
                <p style="color: red">This user is banned until {{ban_timestamp}}</p>
                <button style="padding: 5px" onclick="setBan('')">Remove this ban?</button>
              </div>
            </div>
          </div>
          {% if viewer_role == Role::Admin %}
          <div class="row">
            <div class="heavy-cell" style="text-align: right;">
              Role:
            </div>
            <div class="heavy-cell">
              {% if role == Role::Moderator %}
              <button style="padding: 5px" onclick="setRole('User')">Demote to user</button>
              {% else %}
              <button style="padding: 5px" onclick="setRole('Moderator')">Promote to moderator</button>
              {% endif %}
            </div>
          </div>
          {% endif %}
          <div class="row">
            <div class="cell" style="text-align: right;">
              Notes:
            </div>
            <div class="cell">
              <div id="notes" style="color: #5b5b5b">{{notes|e("none")}}</div>
              <div style="margin: 5px">
                <label>
                  <input type="text" name="note" id="note" style="padding: 5px" placeholder="Add a note about the user">
                  <button id="add_note_button" onclick="addNote()" style="padding: 5px">➕</button>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      function setBan(days) {
          if (days === '' || !isNaN(days)) {
              $.ajax({
                  url: `/set_ban/{{id}}?ban_len=${days}`,
                  type: 'post',
                  complete: function(_, _) {
                      location.reload();
                  }
              });
          }
      }
      function addNote() {
          $.ajax({
              url: '/add_note/{{id}}',
              type: 'post',
              data: {
                  body: $('#note').val(),
              },
              complete: function(_, _) {
                  var body = $('#note').val();
                  $('#note').val("");
                  $('#notes').append(`<p>“${body}” — {{viewer_name}}</p>`);
              }
          });
      }
      {% if viewer_role == Role::Admin %}
      function setRole(role) {
          $.ajax({
              url: `/set_role/{{id}}?role=${role}`,
              type: 'post',
              complete: function(_, _) {
                  location.reload();
              }
          });
      }
      {% endif %}
    </script>
    {% endif %}
    <div class="row">
      <div class="heavy-cell" style="vertical-align: top; text-align: right;">
        Equipped:
      </div>
      <div class="heavy-cell">
        {% for item in equipped %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="cell" style="vertical-align: top; text-align: right;">
        Inventory:
      </div>
      <div class="cell">
        {% for item in inventory %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    {% if !is_curr_user %}
    <div class="row">
      <div class="cell"></div>
      <div class="cell">
        <form action="/offer/{{id}}">
          <button type="submit">Draft trade offer</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</li>
{% endblock %}
