{% extends "base.html" %}

{% block title %}{{name}}'s Profile{% endblock %}

{% block content %}
<li class="menu-item">
  <div class="table">
    <div class="row">
      <div class="heavy-cell"></div>
      <div class="heavy-cell" style="width: 100%;">
        <b {% if is_banned %}style="color: red"{% endif %}>
          {% if is_banned %}✖ {{name}} ✖{% else %}{{name}}{% endif %}
        </b>
      </div>
    </div>
    <div class="row">
      <div class="heavy-cell" style="{{background}} text-align: center; min-width: 180px; min-height: 180px; text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black">
        {% include "profile-pic.html" %}
        <div class="badge-grid">
          {% for badge in badges %}
          {{badge|e("none")}}
          {% endfor %}
        </div>
      </div>
      <div class="heavy-cell" style="vertical-align: top; padding: 15px">
        <p>{{bio}}</p>
        {% if is_banned %}
        <p style="color: red">This user has been banned!</p>
        {% endif %}
        {% if is_curr_user %}
        <form action="/update_bio/">
          <button type="submit">Edit Bio</button>
        </form>
        {% endif %}
      </div>
    </div>
    <div class="row">
      <div class="heavy-cell" style="vertical-align: top; text-align: right;">
        Level:
      </div>
      <div class="heavy-cell">
        <div>{{level.level}}</div>
        <div><progress max="{{level.next_level_xp}}" value="{{level.curr_xp}}"></progress></div>
      </div>
    </div>
    {% if !is_curr_user && viewer_role >= Role::Moderator %}
    <div class="row">
      <div class="heavy-cell" style="vertical-align: top; text-align: right;">
        Moderator tools:
      </div>
      <div class="heavy-cell">
        <div id="notes">{{notes|e("none")}}</div>
        <div style="margin: 5px">
          <label>
            <input type="text" name="note" id="note" style="padding: 5px" placeholder="Add a note about the user">
            <button id="add_note_button" onclick="addNote()" style="padding: 5px">➕</button>
          </label>
        </div>
        <div style="margin: 5px; {% if is_banned %}display: none{% endif %}" id="ban-form">
          Ban for <input type="number" style="width: 4em" name="ban_len" id="ban-len" style="padding: 5px" min="1" max="1000"> days?
          <button style="padding: 5px" onclick="setBan(parseInt($('#ban-len').val()))">Go!</button>
        </div>
        <div style="margin: 5px; {% if !is_banned %}display: none{% endif %}" id="unban">
          <p style="color: red">This user is banned until {{ban_timestamp}}</p>
          <button style="padding: 5px" onclick="setBan('')">Remove this ban?</button>
        </div>
        <script type="text/javascript">
          function setBan(days) {
              if (days === '' || !isNaN(days)) {
                  $.ajax({
                      url: `/set_ban/{{id}}?ban_len=${days}`,
                      type: 'post',
                      complete: function(_, _) {
                          location.reload();
                      }
                  });
              }
          }
          function addNote() {
              $.ajax({
                  url: '/add_note/{{id}}',
                  type: 'post',
                  data: {
                      body: $('#note').val(),
                  },
                  complete: function(_, _) {
                      var body = $('#note').val();
                      $('#note').val("");
                      $('#notes').append(`<p>“${body}” — {{viewer_name}}</p>`);
                  }
              });
          }
        </script>
      </div>
    </div>
    {% endif %}
    <div class="row">
      <div class="heavy-cell" style="vertical-align: top; text-align: right;">
        Equipped:
      </div>
      <div class="heavy-cell">
        {% for item in equipped %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    <div class="row">
      <div class="cell" style="vertical-align: top; text-align: right;">
        Inventory:
      </div>
      <div class="cell">
        {% for item in inventory %}
        {% include "item-thumbnail.html" %}
        {% endfor %}
      </div>
    </div>
    {% if !is_curr_user %}
    <div class="row">
      <div class="cell"></div>
      <div class="cell">
        <form action="/offer/{{id}}">
          <button type="submit">Draft trade offer</button>
        </form>
      </div>
    </div>
    {% endif %}
  </div>
</li>
{% endblock %}
