{%- import "macros.html" as macros -%}
{% extends "base.html" %}

{% block title %}React{% endblock %}

{% block content %}
<form action="/react/{{post_id}}" method="post">
  <li class="menu-item">
    <div style="display: table">
      <div style="display: table-row">
        {% call macros::profile_stub(author) %}
        <div class="post">
          <div style="min-height: 80px">
            {% match image %}
            {% when Some with (image) %}
            {% match thumbnail %}
            {% when Some with (thumbnail) %}
            <p><a href="{{image}}"><img src="{{thumbnail}}" title="{{filename}}"></a></p>
            {% when None %}
            <p><img src="{{image}}" title="{{filename}}"></p>
            {% endmatch %}
            {% when None %}
            {% endmatch %}
            {{body|e("none")}}
          </div>
          {% for item in inventory %}
          <label class="item-{{item.rarity}}" for="{{item.id}}">
            <p>{{item.html|e("none")}}</p>
            <input type="checkbox" name="{{item.id}}" id="{{item.id}}" />
            {{item.name}}
          </label>
          {% endfor %}
          <div style="padding: 5px">
            <button type="submit">React!</button>
            <div id="error" class="error" style="display: none"> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </li>
  <script type="text/javascript">
    $(document).ready(function() {
        $("form").ajaxForm({
            url: '/react/{{post_id}}',
            type: 'post',
            success: function() {
                location.href = '/thread/{{thread_id}}?jump_to={{post_id}}';
            },
            error: function(xhr) {
                $("#error").html(`${xhr.responseJSON.error}`);
                $("#error").show();
            }
        });
    })
  </script>
</form>
{% endblock %}
