{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<script src="/static/thread.js" async></script>
<li class="menu-item" style="text-align: center; margin: 5px; padding: 10px">{{title}}
</li>
{% for post in posts %}
<li class="menu-item">
  <div style="display: table" class="reply" id={{post.id}} author={{post.author.name}}>
    <div style="display: table-row">
      <div class="profile" style="{{post.author.background}}">
        <p><a href="/profile/{{post.author.id}}" style="color: white">{{post.author.name}}</a></p>
        {% let picture = post.author.picture.as_ref() %}
        {% include "profile-pic.html" %}
        <div class="badge-grid">
          {% for badge in post.author.badges %}
            {{badge|e("none")}}
          {% endfor %}
        </div>
      </div>
      <div class="post">
        <div style="display: grid">
          <div style="min-height: 80px">
            {{post.body|e("none")}}
          </div>
          <div style="display: inline">
            <div class="response-container" id="response-container-{{post.id}}"></div>
          </div>
          <div style="display: inline">
            {% for item in post.reactions %}
              {% include "item-thumbnail.html" %}
            {% endfor %}
          </div>
          <div style="float: right; text-align: right;">
            {% match post.reward %}
            {% when Some with (reward) %}
            <div class="rarity-{{reward.rarity}} hover-triggers-overlay" style="margin:5px;">
              ⭐ <b>{{reward.name}}</b> was given for this post
              <div class="overlay-on-hover item-overlay">
                {% let item = reward %}
                {% include "item-overlay.html" %}
              </div>
            </div>
            {% when None %}
            {% endmatch %}
            {% if post.can_react %}
            <a href="/react/{{post.id}}" class="react-button action-box">
              + React!
            </a>
            {% endif %}
            <div class = "reply-to-button action-box" replyid={{post.id}}>
              + Respond!
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
{% endfor %}
<form action="/thread/{{id}}" method="post" id="reply">
  <li class="menu-item" style="padding: 25px">
    <div>
      <div><textarea name="reply" id="reply-textarea" rows="12" cols="100" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px"></textarea></div>
      <button type="submit" class="action-box" style="margin-top: 15px; margin-left: 0px;">+ Reply!</button>
      {% match error %}
      {% when Some(error) %}
      <div class="error" id="error"> 
        {{error|e}}
      </div>
      {% when None %}
      {% endmatch %}
    </div>
  </li>
</form>
{% endblock %}
