{% extends "base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
<script src="/static/thread.js" async></script>
<li class="menu-item" style="text-align: center; margin: 5px; padding: 10px">
  {{title}}
  <div>
    {% for tag in tags %}
    {# TODO: This should redirect to the user's preferred language #}
    <a href="/t/en/{{tag}}" style="text-decoration: none">
      <div class="tag" name="{{tag}}">{{tag}}</div>
    </a>
    {% endfor %}
  </div>
  {% if viewer_role > Role::User %}
  <div style="margin-top: 5px">
    <button onclick="togglePinned()"
            {% if pinned %}style="filter: brightness(70%)"{% endif %}
            >📌</button>
    <button onclick="toggleLocked()"
            {% if locked %}style="filter: brightness(70%)"{% endif %}
            >🔒</button>
    <button ondblclick="deleteThread()" type="submit" style="background: red; color: white; margin: 0px" class="action-box">
      ⚠️ Delete thread
    </button>
  </div>
  {% endif %}
</li>
{% for post in posts %}
<li class="menu-item" id="reply-{{post.id}}">
  <div style="display: table" class="reply" id={{post.id}} author={{post.author.name}}>
    <div style="display: table-row">
      <div class="profile" style="{{post.author.background}}">
        <p><a href="/profile/{{post.author.id}}" style="color: white; text-decoration: none">{{post.author.name}}</a></p>
        {% let picture = post.author.picture.as_ref() %}
        {% include "profile-pic.html" %}
        <div class="badge-grid">
          {% for badge in post.author.badges %}
            {{badge|e("none")}}
          {% endfor %}
        </div>
      </div>
      <div class="post">
        <div style="display: grid">
          <div style="min-height: 80px">
            {% match post.image %}
            {% when Some with (image) %}
            {% match post.thumbnail %}
            {% when Some with(thumbnail) %}
            <p><a href="{{image}}"><img src="{{thumbnail}}" title="{{post.filename}}"></a></p>
            {% when None %}
            <p><img src="{{image}}" title="{{post.filename}}"></p>
            {% endmatch %}
            {% when None %}
            {% endmatch %}
            {% if post.can_edit %}
            <form class="unparsed-{{post.id}} edit-post-form" action="/edit/{{post.id}}" method="post" postid="{{post.id}}" hidden>
              <div><textarea name="body" rows="12" cols="100" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px">{{post.body}}</textarea></div>
              <button type="submit" class="action-box action-box-standard-size" style="float: right; margin-top: 15px; margin-right: 0px; margin-left: 7px; margin-bottom: 0px;">⇒ Update!</button>
              <div class="error-{{post.id}}" style="margin-top: 15px"></div>
            </form>
            {% endif %}
            <span class="parsed-{{post.id}}">{{post.body|e("none")}}</span>
            <p style="font-size: 80%; color: grey">Posted on {{post.date}} UTC</p>
          </div>
          <div style="display: inline">
            <div class="response-container" id="response-container-{{post.id}}"></div>
          </div>
          <div style="display: inline">
            {% for item in post.reactions %}
              {% include "item-thumbnail.html" %}
            {% endfor %}
          </div>
          <div style="float: right; text-align: right;">
            {% match post.reward %}
            {% when Some with (reward) %}
            <div class="rarity-{{reward.rarity}} hover-triggers-overlay" style="margin:5px;">
              ⭐ <b>{{reward.name}}</b> was given for this post
              <div class="overlay-on-hover item-overlay">
                {% let item = reward %}
                {% include "item-overlay.html" %}
              </div>
            </div>
            {% when None %}
            {% endmatch %}
            {% if post.can_react %}
            <a href="/react/{{post.id}}" class="react-button action-box action-box-standard-size">
              + React!
            </a>
            {% endif %}
            {% if post.can_edit %}
            <div class="edit-post-button action-box action-box-standard-size" style="margin-right: 0px" postid={{post.id}}>⚙️ Edit!</div>
            {% endif %}
            <div class="reply-to-button action-box action-box-standard-size" style="margin-right: 0px" replyid={{post.id}}>
              + Respond!
            </div>
            {% if viewer_role > Role::User && loop.index > 1 %}
            <button ondblclick="deleteReply({{post.id}})" type="submit" style="background: red; color: white" class="action-box">
              ⚠️ Delete reply
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</li>
{% endfor %}
<form action="/thread/{{id}}" method="post" id="reply" enctype="multipart/form-data">
  <li class="menu-item" style="padding: 25px">
    {% if locked %}
    <div style="display: flow-root">
      <div><textarea name="reply" id="reply-textarea" rows="12" cols="100" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px" disabled></textarea></div>
      <button type="submit" class="action-box action-box-standard-size" style="float: right; margin-top: 15px; margin-right: 0px; margin-left: 7px; margin-bottom: 0px;" disabled>+ Reply!</button>
      <div id="error" style="margin-top: 15px">Post is locked</div>
    </div>
    {% else %}
    <div style="display: flow-root">
      <div><textarea name="reply" id="reply-textarea" rows="12" cols="100" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px"></textarea></div>
      <span id="attached-filename-text-container"></span>
      <button type="submit" class="action-box action-box-standard-size" style="float: right; margin-top: 15px; margin-right: 0px; margin-left: 7px; margin-bottom: 0px;">+ Reply!</button>
      <label id="attach-file-to-reply-button" class="action-box action-box-standard-size" style="float: right; margin-top: 15px; margin-bottom: 0px; margin-right: 7px;">
        <input id="attach-file-to-reply-input" style="display: none;" type="file" name="file">
        <span id="attach-file-to-reply-text-container">+ File!</span>
      </label>
      <div id="error" style="margin-top: 15px"></div>
    </div>
    {% endif %}
    <script type="text/javascript">
      {% if viewer_role >= Role::User %}
      function togglePinned() {
          var set_pinned = !{{pinned}};
          $.ajax({
              url: `/set_pinned?thread={{id}}&pinned=${set_pinned}`,
              type: 'post',
              complete: function(_, _) {
                  location.href = `/thread/{{id}}`;
              }
          });
      }
      function toggleLocked() {
          var set_locked = !{{locked}};
          $.ajax({
              url: `/set_locked?thread={{id}}&locked=${set_locked}`,
              type: 'post',
              complete: function(_, _) {
                  location.href = `/thread/{{id}}`;
              }
          });
      }
      function deleteThread() {
          $.ajax({
              url: '/delete_thread/{{id}}',
              type: 'post',
              complete: function(_, _) {
                  location.href = '/t/en';
              }
          });
      }
      function deleteReply(id) {
          $.ajax({
              url: `/delete_reply/${id}`,
              type: 'post',
              complete: function(_, _) {
                  $(`#reply-${id}`).slideToggle();
              }
          });
      }
      {% endif %}
      // posting replies
      $(document).ready(function () {
          const error_messages = {
              ReplyIsEmpty: "You cannot post an empty reply",
              ThreadIsLocked: "Thread is locked",
              UploadImageError: "There was an error uploading the image",
              InternalDbError: "There was an internal error, please try again later",
              FetchThreadError: "This thread has been deleted",
          };
          $("form#reply").ajaxForm({
              url: '/thread/{{id}}',
              type: 'post',
              success: function(response, _, _, _) {
                  if (response.Err !== undefined) {
                      var error_message = error_messages[response.Err];
                      var error_message = error_message == undefined ? "An unknown error occurred" : error_message;
                      $("#error").html(`<div class="error">${error_message}</div>`)
                  } else {
                      location.href = `/thread/{{id}}?jump_to=${response.Ok.id}`;
                  }
              },
              error: function(_, status, error) {
                  $("#error").html(`<div class="error">Unable to upload image</div>`);
              }
          });
      });
    </script>
  </li>
</form>
{% endblock %}
