{% extends "base.html" %}

{% block title %}{{name}}'s Profile{% endblock %}

{% block content %}
<li class="menu-item">
  <div class="table">
    <div class="row">
      <div class="cell"></div>
      <div class="cell" style="width: 100%;"><b>{{name}}</b></div>
    </div>
    <div class="row">
      <div class="cell" style="{{background}} text-align: center; min-width: 180px; min-height: 180px; text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black; border-radius: 5px">
        {% include "profile-pic.html" %}
        <div class="badge-grid">
          {% for badge in badges %}
          {{badge|e("none")}}
          {% endfor %}
        </div>
      </div>
      <div class="cell" style="vertical-align: top; padding: 15px">
        <form action="update_bio" method="post">
          <textarea name="bio" rows="18" cols="80" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px">{{bio}}</textarea>
          <button type="submit" style="margin-top: 10px">Update</button>
          <div class="error" style="display: none" id="error"></div>
          <script type="text/javascript">
            const error_messages = {
                TooLong: "Bio is too long ({{crate::users::MAX_BIO_LEN}} characters allowed)",
                InternalDbError: "Internal server error, please try again later"
            };
            $(document).ready(function () {
                $("form").ajaxForm({
                    url: '/bio',
                    type: 'post',
                    success: function(response, _, _, _) {
                        if (response.Err !== undefined) {
                            var error_message = error_messages[response.Err];
                            var error_message = error_message == undefined ? "An unknown error occurred" : error_message;
                            $('#error').show();
                            $('#error').html(`${error_message}`);
                        } else {
                            location.href = '/profile';
                        }
                    },
                    error: function(_, _, _) {
                        $('#error').html('An unknown error occurred');
                    }
                });
            });
          </script>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="cell">
      </div>
    </div>
  </div>
</li>
{% endblock %}
