{% extends "base.html" %}

{% block title %}{{name}}'s Profile{% endblock %}

{% block content %}
<li class="menu-item">
  <div class="table">
    <div class="row">
      <div class="cell"></div>
      <div class="cell" style="width: 100%;"><b>{{name}}</b></div>
    </div>
    <div class="row">
      <div class="cell" style="{{background}} text-align: center; min-width: 180px; min-height: 180px; text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black; border-radius: 5px">
        {% include "profile-pic.html" %}
        <div class="badge-grid">
          {% for badge in badges %}
          {{badge|e("none")}}
          {% endfor %}
        </div>
      </div>
      <div class="cell" style="vertical-align: top; padding: 15px">
        <form action="update_bio" method="post">
          <textarea name="bio" rows="18" cols="80" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px">{{bio}}</textarea>
          <button type="submit" style="margin-top: 10px">Update</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="cell">
      </div>
    </div>
  </div>
</li>
{% endblock %}
