{%- import "macros.html" as macros -%}
{% extends "base.html" %}

{% block title %}{{name}}'s Profile{% endblock %}

{% block content %}
<li class="menu-item">
  <div class="table">
    <div class="row">
      <div class="cell"></div>
      <div class="cell" style="width: 100%;"><b>{{name}}</b></div>
    </div>
    <div class="row">
      {% call macros::profile_stub(stub) %}
      <div class="cell" style="vertical-align: top; padding: 15px">
        <form action="update_bio" method="post">
          <textarea name="bio" rows="18" cols="80" style="width: 100%; resize: none; box-sizing: border-box; padding: 5px">{{bio}}</textarea>
          <button type="submit" style="margin-top: 10px">Update</button>
          <div class="error" style="display: none" id="error"></div>
          <script type="text/javascript">
            $(document).ready(function () {
                $("form").ajaxForm({
                    url: '/bio',
                    type: 'post',
                    success: function(response) {
                        location.href = '/profile';
                    },
                    error: function(xhr) {
                        $('#error').html(`${xhr.responseJSON.error}`);
                        $('#error').show()
                    }
                });
            });
          </script>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="cell">
      </div>
    </div>
  </div>
</li>
{% endblock %}
